{% extends 'base.html' %}

{% block conteudo %}
<div container mt-5>
    <div class="jumbotron text-center"></div>
    <h1>Editar Produto</h1>
    <form method="POST">
        <label for="nomeProduto">Nome do Produto</label>
        <input type="text" name="name" id="nomeProduto" value="{{produto.name}}" required>

        <label for="precoProduto">Preço do Porduto</label>
        <input type="text" name="preco" id="precoProduto" value="{{produto.preco}}" required>    
        
        <button type="submit">Salvar</button>
        <a href="{{url_for('listar_produtos')}}">Listar Produtos</a>
    </form>
    </div>
</div>
{% endblock %}