{% extends 'base.html' %}

{% block titulo %}Editar Produto{% endblock %}

{% block conteudo %}
<h1>{{ titulo }}</h1>

<div class="d-flex align-items-start gap-4">
  {% if produto.imagem %}
  <div class="flex-shrink-0">
    <img src="{{ url_for('static', filename=produto.imagem) }}" width="150px">
  </div>
  {% endif %}

  <form method="POST" class="flex-grow-1" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="nameProduto" class="form-label">Nome:</label>
      <input type="text" name="name" class="form-control" id="nameProduto" value="{{ produto.name }}" required>
    </div>
    <div class="mb-3">
      <label for="precoProduto" class="form-label">Preço:</label>
      <input type="number" name="price" step="0.01" class="form-control" id="precoProduto" value="{{ produto.price }}" required>
    </div>
    <div class="mb-3">
      <label for="imgProduto" class="form-label">Imagem:</label>
      <input type="file" name="imagem" class="form-control" id="imgProduto">
    </div>

    <button type="submit" class="btn btn-primary">Atualizar</button>
    <a class="btn btn-secondary" href="{{ url_for('listar_produtos')}}">Voltar</a>
  </form>
</div>
{% endblock %}