{% extends 'base.html' %}

{% block conteudo %}

<h1>{{ titulo }}</h1>
<div class="d-flex justify-content-between mb-3">
  <a href="{{ url_for('cadastrar_produto')}}" class="btn btn-success">Criar Produto</a>
  <form class="d-flex" method="GET" action="{{url_for('pesquisar_produto')}}">
    <input type="text" class="form-control me-2" name="q" placeholder="Pesquisar produto..." value="{{ request.args.get('q','') }}">
    <button type="submit" class="btn btn-primary">Pesquisar</button>
  </form>
</div>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Imagem</th>
      <th>Nome</th>
      <th>Preço</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for produto in produtos %}
    <tr>
      <td>{{ produto.id }}</td>
      <td>
        {% if produto.imagem %}
        <img src="{{ url_for('static', filename=produto.imagem) }}" width="50px">
        {% else %}
        -
        {% endif %}
      </td>
      <td>{{ produto.name }}</td>
      <td>{{ produto.price|round(2) }}</td>
      <td>
        <a class="btn btn-primary" href="{{ url_for('editar_produto', id=produto.id)}}">Editar Produto</a>
        <a class="btn btn-danger" href="{{ url_for('deletar_produto', id=produto.id)}}">Deletar Produto</a>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="5" class="text-center">
        Nenhum Produto Cadastrado!
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}