{% extends 'base.html' %}

{% block conteudo %}
<div class="container mt-5">
  <h1>{{ titulo }}</h1>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for produto in produtos %}
      <tr>
        <td>{{ produto.id }}</td>
        <td>{{ produto.name }}</td>
        <td>{{ produto.preco|round(2) }}</td>
        <td>
          <a class="btn btn-primary" href="{{ url_for('editar_produto', id=produto.id)}}">Editar Produto</a>
          <a class="btn btn-danger" href="{{ url_for('deletar_produto', id=produto.id)}}">Deletar Produto</a>
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="4" class="text-center">
          Nenhum Produto Cadastrado!
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}